body {
    background-color: #D5E6FF;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_and_name {
    margin: 0;
    margin-left: 40px;
    display:flex;
    gap: 30px;
    align-items: center;
}

#logo {
    width: 65px;
    height: 80px;
}

#name {
    color: #0C4F95;
    margin: 0;
    font-size: 25px;
}

ul {
    display: flex;
    margin:0;
    margin-right: 40px;
    list-style-type: none;
    gap: 40px;
}

#sign_in {
    font-size: 25px;
    border: 1px solid #5998db;
    border-radius: 9px;
    padding: 5px 8px 5px 8px;
    opacity: 70%;
}

#join {
    font-size: 25px;
    background-color: #8dc1fb;
    border: 2px solid #D5E6FF;
    border-radius: 9px;
    padding: 5px 8px 5px 8px;
}