body {
    margin: 0;
    display:flex;
    flex-direction: column;
    background-color: #fafbfc;
    font-family: "Playfair Display", serif;
}

.navigation {
    background-color: #D5E6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.logo_and_name {
    margin-left: 40px;
    display:flex;
    gap: 30px;
    align-items: center;
}

#logo {
    width: 65px;
    height: 80px;
}

#name {
    color: #003165;
    margin: 0;
    font-size: 25px;
}

ul {
    display: flex;
    margin:0;
    margin-right: 40px;
    list-style-type: none;
    gap: 10px;
    padding: 0px;
}

li {
    font-size: 25px;
    align-items: center;
    padding: 5px 15px 7px 15px;
}

#signin {
    opacity: 75%;
    font-size: 25px;
    color: #003165;
}

#join {
    background-color: #b1d3f9;;
    border-radius: 9px;
    color: #003165;
    
}

.hero {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin: 0;
    padding-left: 50px;
    padding-top: 10px;
}

#hero-bigtext {
    font-size: 64px; 
    margin: 0;
    font-weight: 500;
    color: #003165;
}

#hero-smalltext {
    font-size: 30px; 
    margin: 0;
    font-weight: 300;
    color: #003165;
    opacity: 80%;
}

#hero-button {
    width: fit-content;
    font-size: 30px;
    color: white;
    margin: 20px 0 0 0;
    background-color: #003165;;
    border-radius: 9px;
    padding: 3px 15px 6px 15px;
    font-weight: 500;
}